---
import Layout from '../components/Layout.astro';
---

<Layout title="Netlify Edge functions with Astro">
	<main>
		<h1>Netlify Edge Functions with Astro</h1>

		Welcome, visitor from COUNTRYNAME!

		<div style="padding-top: 24px;"><button onclick="location.href = '/catto'" style="padding: 10px 24px;">Click me for some cattos!</button></div>
	</main>
</Layout>

<style>
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
</style>
